<% include partials/header %>
<h1>This is the home page</h1>

<li><a href="/register">Sing up</a></li>
<li><a href="/login">Log in</a></li>
<li><a href="/logout">Log out</a></li>
<% include partials/footer %>