<% include partials/header %>
<div class="container">
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" name="user[username]">
            <small id="emailHelp" class="text-danger form-text"><%= err.message %></small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="user[password]">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</div>
<% include partials/footer %>